.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
 height: 100%;
 box-shadow: 0 0 8px rgb(0,0,0,0.3);
 padding: 10px;
}

.card img {
  width: 150px;
  height: 100px;
  padding: 30px;
}

.card p, .card h3 {
  text-align: center;
}
